body {
  font-family: monospace;
  padding: 1rem 2rem;
  overflow: hidden;
  height: 100vh;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}
td,
th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.highlight {
  background-color: rgb(66, 184, 184);
  color: white;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh);
}

#table-container {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  max-height: 100%;
}
