body {
  font-family: monospace;
  padding: 2rem;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}
td,
th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.highlight {
  background-color: rgb(66, 184, 184);
  color: white;
  font-weight: bold;
}
